[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# Documentation.
Sphinx = "~=3.3"
sphinx-rtd-theme = '~=0.5'

# Tools.
twine = "~=3.2"
pre-commit = "~=2.9"

[packages]
requests = "~=2.24"
lxml = "~=4.6"
atomicwrites = "~=1.4"
filetype = "~=1.0"
appdirs = "~=1.4"
PyYAML = "~=5.3"
fpyutils = "~=1.2"

[requires]
python_version = "3.8"
